* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  body {
    font-family: 'Poppins', sans-serif;
    /* height: 100vh ; */
  }

.container {
	width: 100%;
	height: 100vh;
	background-color: hsl(0, 100%, 74%);;
	background-image: url(../images/bg-intro-desktop.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

/* left container style */
.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
    
}

.left h1 {
	width: 80%;
	color:white;
	font-weight: 700;
	font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    
}

.left p {
	width: 80%;
	color: #f1f1f1;
	font-weight: 500;
	font-size: 0.95rem;
    
    
}


/* right container style */
.right {
    margin-left: 10px;
	flex: 1;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
	justify-content: center;
    
}

/*offer style */
.offer{
    box-sizing: border-box;
    background-color: hsl(248, 32%, 49%);;
	border-radius: 10px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.377);
	width: 80%;
	padding: 0.9rem;
	font-weight: 400;
	font-size: 0.85rem;
	text-align: center;
    color : white;
    margin-bottom: 1rem;
}

.offer span {
    color: white;
	font-weight: 700;
}

/* form styling */
.user{
    background-color:  white;
	border-radius: 10px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.336);
	width: 80%;
	padding: 2rem;
    box-sizing: border-box;
}

.input {
	width: 100%;
    height: 3rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
	font-size: 1rem;
	font-weight: 500;
	border: 1px solid hsl(0, 0%, 85%);
	border-radius: 5px;
    box-sizing: border-box;
}


.submit{
    text-transform: uppercase;
    text-align: center;
	color: white;
	background-color: hsl(154, 59%, 51%);
    box-shadow: 0px 5px rgba(0, 0, 0, 0.336);
}

.agreement{
    text-align: center;
	font-size: 0.7rem;
	font-family: 'Poppins', sans-serif;
	color: hsl(0, 0%, 75%);
}

.agreement span {
    font-weight: 700;
    color: hsl(0, 100%, 74%);
}



/* MOBILE  AND TABLET VERSION */
@media only screen and (max-width: 1024px) {

.container {
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 5rem;
    height: auto;
}

/* left style */
.left {
    flex: none;
    align-items: center;
    padding: 4rem 0;
}

.left h1 {
    font-size: 2rem;
    text-align: center;
    width: 90%;
}

.left p {
    font-size: 1rem;
    text-align: center;
    width: 90%;
}

/* right style */
.right {
    flex: none;
    align-items: center;
}

}